* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------------------------------- */
/*               NAVBAR               */
/* ---------------------------------- */

nav .navbar {
}

/* ---------------------------------- */
/*                MAIN                */
/* ---------------------------------- */

main {
  display: grid;
  grid-template-columns: 40% 60%;
  overflow: scroll;
  height: 650px;
}

main::-webkit-scrollbar {
  display: none;
}

/*? ---------------------------------- */
/*?               BANNER               */
/*? ---------------------------------- */

section#banner {
  height: 100vh;
}

/*? ---------------------------------- */
/*?                MENU                */
/*? ---------------------------------- */
