* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: SoDoSans, sans-serif;
  font-weight: 400;
}

/* ---------------------------------- */
/*               NAVBAR               */
/* ---------------------------------- */

/* ---------------------------------- */
/*                MAIN                */
/* ---------------------------------- */

main {
  display: grid;
  grid-template-columns: 40% 60%;
  height: 650px;
}

section#menu::-webkit-scrollbar {
  display: none;
}

/*? ---------------------------------- */
/*?               BANNER               */
/*? ---------------------------------- */

main section#banner {
  height: 100vh;
}

/*? ---------------------------------- */
/*?                MENU                */
/*? ---------------------------------- */

.container-fluid section#menu p {
  opacity: 0.8;
}

@media only screen and (max-width: 768px) {
  main {
    display: block;
  }

  section#banner img {
    max-height: 650px;
    width: 100%;
    object-fit: cover;
  }
}

@media only screen and (min-width: 768px) {
  main .container-fluid section#banner {
    min-height: 650px;
    min-width: 480px;
  }

  main .container-fluid section#banner img {
    min-height: 650px;
  }
}
