* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: SoDoSans, sans-serif;
  font-weight: 400;
}

/* ---------------------------------- */
/*                MAIN                */
/* ---------------------------------- */

main {
  display: grid;
  grid-template-columns: 40% 60%;
  height: 695px;
}

/*? ---------------------------------- */
/*?              CONTAINER             */
/*? ---------------------------------- */

section.container-fluid::-webkit-scrollbar {
  display: none;
}

/*! ---------------------------------- */
/*!               BANNER               */
/*! ---------------------------------- */

main section#banner {
  height: 100vh;
  padding-bottom: 0;
}

/*! ---------------------------------- */
/*!                MENU                */
/*! ---------------------------------- */

.container-fluid section#menu p {
  opacity: 0.8;
}

/*! ---------------------------------- */
/*!               CONTACT              */
/*! ---------------------------------- */

#contact .btn:hover {
  opacity: 0.7;
}

/*! ---------------------------------- */
/*!               FOOTER               */
/*! ---------------------------------- */

section#footer {
  background-image: url(assets/images/coffee-bg.jpeg) !important;
}

/* ---------------------------------- */
/*            MEDIA QUERIES           */
/* ---------------------------------- */

@media only screen and (max-width: 768px) {
  main {
    display: block;
  }

  section#banner img {
    max-height: 650px;
    width: 100%;
    object-fit: cover;
  }
}

@media only screen and (min-width: 768px) {
  main .container-fluid section#banner {
    min-height: 650px;
    min-width: 480px;
  }

  main .container-fluid section#banner img {
    min-height: 650px;
  }
}
